<html>

<head>
  <title>FullCycle!</title>
</head>

<body>
  <h1>Welcome to FullCycle!</h1>

  <ul>
    <% results.forEach((user)=> { %>
      <li>
        <%= user.name %>
      </li>
      <% }) %>
  </ul>


</body>

</html>